body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.navbar {
    box-shadow: 0px 0px 17px 2px rgba(97, 97, 97, 0.5);
}

.error-msg {
    color: red;
    font-size: 24px;
    font-weight: bold;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: lightgrey;
}

.pokemon-card {
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
    max-width: 250px;
    transition: transform ease-in-out 222ms;
}

.pokemon-card:hover {
    transform: scale(1.05);
}

.dialog-card {
    width: 600px;
}

.pokemon-image {
    height: 200px;
    width: 200px;
}

.pokedex:hover {
    cursor: pointer;
}

.name-head {
    display: flex;
    flex-direction: column-reverse;
}

.pokedex {
    min-height: 30vh;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-radius: 40px;
}

.pokedex-card {
    min-height: 30vh;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-radius: 40px;
}

.types {
    display: flex;
}

.types span {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
}

.info-container {
    background-color: white;
    border-radius: 40px;
    margin-top: -80px;
    height: 300px;
    position: relative;

}

.info-container img {
    margin-top: -90px;
    height: 128px;
    width: 128px;
    position: absolute;
    right: 10px;
    top: -20px;
}

.load-more {
    background-color: lightgrey;
}

.about {
    display: flex;
    flex-direction: column;
}

.d-none {
    display: none !important;
}

.width-175 {
    width: 400px !important;
}

.width-130 {
    width: 350px;
}

.height-75 {
    height: 75px;
}

.progessbar-size {
    width: 150px;
    height: 10px !important;
}

.moves {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    height: 250px;
    overflow-x: hidden;
}

.nav-link:hover {
    cursor: pointer;
}

.dialog-bg {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    height: 50vh;
    width: 50vw;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 24px;
}

.arrow:hover {
    cursor: pointer;
}

.margin-arrow-left {
    margin-left: 2.5rem;
}

.margin-arrow-right {
    margin-right: 2.5rem;
}

.moves span {
    border: 1px solid;
    border-radius: 6px;
    padding: 2px;
    background: lightgrey;
    margin-right: 5px;
    margin-top: 2px;
}

@media (max-width: 700px) {
    .responsive-header {
        flex-direction: column;
    }

    .error-msg {
        font-size: 18px;
    }

    .dialog-card {
        width: 300px;
    }

    .width-175 {
        width: 105px !important;
    }

    .height-auto {
        height: auto;
    }

    .info-container ul {
        margin: 0 !important;
    }
}

@media (max-width: 400px) {
    .pokemon-card {
        width: 280px;
        margin-left: 0;
    }

    .width-175 {
        width: 105px !important;
    }

    

    .dialog-card {
        max-width: 250px;
    }

    .info-container img {
        height: 80px;
        width: 80px;
        right: 10px;
        top: 25px;
    }
}

@media (max-width: 370px) {
    .arrow {
        display: none;
    }

    .margin-arrow-left {
        margin-left: 0;
    }

    .margin-arrow-right {
        margin-right: 0;
    }
}

@media (max-height: 670px) {
    .dialog-card {
        margin-top: 120px;
    }
}